# 1. NestJS 서버 구동용 (Transaction Mode - Supavisor 사용)
DATABASE_URL="postgresql://postgres.cyxvakubcuedytcvdprx:qkrkwlrmaks1!@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# 2. Prisma 마이그레이션 및 DB Push용 (Direct Connection)
DIRECT_URL="postgresql://postgres.cyxvakubcuedytcvdprx:qkrkwlrmaks1!@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

# 3. Upstash Redis url
REDIS_URL="redis://default:AVOvAAIncDJhZmVhY2Q1MGZiMjM0YmMwYmVmN2NmODBkMWU3MDJmYnAyMjE0MjM@powerful-goat-21423.upstash.io:6379"

SESSION_SECRET=change_me_session_secret

JWT_ACCESS_SECRET=change_me_access_secret_min_32_chars
JWT_REFRESH_SECRET=change_me_refresh_secret_min_32_chars
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=604800

OAUTH2_AUTHORIZATION_URL=https://example.com/oauth/authorize
OAUTH2_TOKEN_URL=https://example.com/oauth/token
OAUTH2_CLIENT_ID=dummy_id
OAUTH2_CLIENT_SECRET=dummy_id
OAUTH2_CALLBACK_URL=http://localhost:3000/auth/oauth2/callback
OAUTH2_USERINFO_URL=http://localhost:3000/auth/oauth2/dummy
OAUTH2_SCOPE=openid profile email

SUPABASE_JWT_SECRET=216cef29-aebb-410c-a748-d45b045cec25

RUNPOD_WEBHOOK_SECRET=

PORT=3000